<ng-container class="table" *tuiLet="((paginationIndex$ | async) || 0) as pagIndex">
  <p class="table__title title">Таблица с данными</p>
  <div class="table__button-wrap">
      <button
      tuiButton
      type="button"
      class="tui-space_right-3 tui-space_bottom-3 table__button-add"
      (click)="addRow()"
    >
      Добавить запись
    </button>
  </div>
  <form
  tuiTextfieldSize="m"
  [tuiTextfieldLabelOutside]="true"
  *ngIf="tableForm"
  [formGroup]="tableForm"
  >
  <table
      tuiTable
      class="table-content"
  >
      <thead>
          <tr>
              <th tuiTh>UserId</th>
              <th tuiTh>Id</th>
              <th tuiTh>Title</th>
              <th tuiTh>Body</th>
              <th tuiTh>Кнопка изменения</th>
          </tr>
      </thead>
      <tbody>
        <!-- let rowsArrayEl of rowsArray.controls.slice(10, 20);
              let i = index" -->

        <ng-container formArrayName="rowsArray">
          <ng-container

            *ngFor="let i of paginationArray$ | async"
              >
              <tr [formGroupName]="i"  *tuiLet="rowsArray.controls[i].value as value">
                  <td tuiTd>
                    <tui-textarea
                        [readOnly]='!value.isEdit'
                        formControlName="userId"
                        class="tui-space_top-4 table__id_width table__el_margin"
                        [expandable]="true"
                    >
                      {{value.userId}}
                    </tui-textarea>
                  </td>
                  <td tuiTd>
                    <tui-textarea
                        [readOnly] = 'true'
                        formControlName="id"
                        class="tui-space_top-4 table__id_width table__el_margin"
                        [expandable]="true"
                    >
                      {{value.id}}
                  </tui-textarea>
                  </td>
                  <td tuiTd>
                    <tui-textarea
                        [readOnly]='!value.isEdit'
                        formControlName="title"
                        class="tui-space_top-4 table__title_width table__el_margin"
                        [expandable]="true"
                    >
                      {{value.title}}
                  </tui-textarea>

                  </td>
                  <td tuiTd>
                    <tui-textarea
                        [readOnly]='!value.isEdit'
                        formControlName="body"
                        class="tui-space_top-4 table__body_width table__el_margin"
                        [expandable]="true"
                    >
                      {{value.body}}
                  </tui-textarea>
                  </td>
                  <td tuiTd class="">
                    <button
                      tuiButton
                      type="button"
                      class="button"
                      (click)="changeRow(i)"
                    >
                      {{value.isEdit ?'Сохранить' : 'Изменить запись'}}
                  </button>
                  </td>
              </tr>
          </ng-container>
        </ng-container>
      </tbody>
  </table>
  </form>

  <tui-pagination
      class="table__pagination"
      [activePadding]="1"
      [length]="(paginationLength$ | async) || 1"
      [index]="pagIndex"
      (indexChange)="changePage($event)"
  ></tui-pagination>
</ng-container>
