<tui-island class="island" [hoverable]="true" size="m">
  <h3 class="title">Вход в аккаунт</h3>

  <form
    class="b-form form"
    [formGroup]="form">

    <div class="tui-form__row_multi-fields">
      <div class="form__el el_same-size">
        <tui-input
          formControlName="email">
          Введите email
        </tui-input>
        <tui-error
          formControlName="email"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>

      <div class="form__el el_same-size">
        <tui-input-password
          formControlName="password">
          Введите пароль
        </tui-input-password>
        <tui-error
          formControlName="password"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
        </div>

    </div>
    <div class="form__button">
      <button
        [disabled]="!form.valid"
        tuiButton
        size="l"
        type="submit"
        class="tui-form__button"
        (click)="authService.hideLogin()"
        > Авторизоваться
      </button>
    </div>
  </form>

</tui-island>
